@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* footer a tag */
  .footer-a {
    @apply font-medium text-lightBlue500 hover:text-grayBlue transition-all duration-200;
  }

  /* footer subheading */
  .footer-subhd {
    @apply uppercase font-bold text-gray2 mb-1;
  }

  .explore-section-bacg-responsive {
    @apply scale-y-[9] scale-x-[8] translate-y-[60rem] translate-x-[10rem] 
    md:scale-y-[4.5] md:scale-x-[1.75] md:translate-y-[45rem] md:translate-x-[10rem] 
    lg:scale-y-[2.7] lg:scale-x-[1.75] lg:translate-y-[32rem] lg:translate-x-[10rem];
  }
}

* {
  font-family: "Mulish", sans-serif;
}
.core-feature-section {
  background-size: 100% 100%;
}
.companiesList {
  animation: showCompany 10s linear 0s infinite;
}

@keyframes showCompany {
  0% {
    top: 0;
  }

  100% {
    top: -50%;
  }
}

footer {
  background: linear-gradient(to right, #eef9fe, #edf7ff);
}
